body {margin:0; padding:0; background:#131418;}
table, td {border-collapse:collapse;}
table, td, img {border:0;}
form, td {margin:0; padding:0;}
td, tr {font:11px/14px tahoma, arial, helvetica, sans-serif; color:#26282E; vertical-align:top;  text-align:left;}

.rez{width:50%;}
.rez table{ width:100%; height:100%}
.rez1{background:url(images/rez1.jpg) top right repeat-x; width:100%; height:149px;}
.rez2{background:url(images/rez2.jpg) top left repeat-x; width:100%; height:149px;}

.rez3{background:url(images/rez3.gif) top left repeat-x; width:100%;  height:300px;}
.rez4{background:url(images/rez4.gif) top left; width:100%; height:100%;}
.rez5{background:url(images/rez5.gif) top left repeat-x; width:100%;  height:160px;}

.rez3a{background:url(images/rez3a.jpg) top left repeat-x; width:100%;  height:300px;}
.rez4a{background:url(images/rez4a.gif) top left; width:100%; height:100%;}
.rez5a{background:url(images/rez5a.gif) top left repeat-x; width:100%;  height:160px;}


.rez6{background:url(images/rez7.jpg) top left repeat-x; width:100%; height:130px;}
.rez7{background:url(images/rez6.jpg) top right repeat-x; width:100%; height:130px;}




